.facebook_si{
    background-image: url("./../../assets/icons/facebook_icon.svg");
}

.twitter_si{
    background-image: url("./../../assets/icons/twitter_icon.svg");
}

.linkedin_si{
    background-image: url("./../../assets/icons/linkedin_icon.svg");
}