.footer {
  width: 100%;

}

.footer_info{
  background-color: var(--darked-bg-color);
  width: 100%;
}

.footer_copyright{
  background-color: var(--dark-bg-color);
  width: 100%;
  padding: 24px 15px;
  display: flex;
  justify-content: center;
}

.footer_info__wrapper{
  display: flex;
  align-items: stretch;
  padding: 70px 0;
}

.footer_info__info{
  flex-basis: calc(100% / 3 - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px;
  gap: 29px;
}

.footer_info__title{
  color: var( --light--text-color);
  font-weight: 700;
  font-size: var(--simpller-font-size);
  text-transform: uppercase;
}

.footer_info__text{
  color: var( --light--text-color);
  font-weight: 400;
  font-size: var(--simpller-font-size);
  text-align: center;
}

.footer_info__social_icon{
  width: 39px;
  height: 39px;
}

.footer_info__social{
  display: flex;
  gap: 27px;
}

.footer_copyright__text{
  color: var(--simple-text-color);
  font-weight: 400;
  font-size: var(--simpller-font-size);
  text-align: center;
  width: 370px;
  text-transform: capitalize;
}

.footer_copyright__by{
  color: var(--light--text-color);
}